:root {
    --primavera-btn: #7d4100;
    --verano-btn: #f39c12;
    --otono-btn: #d35400;
    --invierno-btn: #3498db;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* FONDOS */
body.primavera {
    background-image: url("imagen/fondo_primavera.jpg");
}

body.verano {
    background-image: url("imagen/fondo_verano.jpg");
}

body.otono {
    background-image: url("imagen/fondo_otono.jpg");
}

body.invierno {
    background-image: url("imagen/fondo_invierno.jpg");
}

/* CONTENEDOR */
.contenedor-central {
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    padding: 30px;
    border-radius: 20px;
}

/* ICONO */
.icono {
    width: 120px;
}

/* BOTÓN */
#boton-estacion {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

/* COLORES BOTÓN */
body.primavera #boton-estacion { background-color: var(--primavera-btn); }
body.verano #boton-estacion    { background-color: var(--verano-btn); }
body.otono #boton-estacion     { background-color: var(--otono-btn); }
body.invierno #boton-estacion  { background-color: var(--invierno-btn); }